* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dealer-cards img{
  height: 275px;
  margin: 4px;
}

#faceDown {
  height: 275px;
  width: 198px;
}

.player-cards img{
  height: 275px;
  margin: 4px;  
}

#hitButton {
  height: 45px;
  width: 90px;
}

#stayButton {
  height: 45px;
  width: 90px;
}